.board-wrapper {
    display: flex;
    height: 100vh;

    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.sp-turns {
    display: flex;
    flex-direction: row;
    border-radius: 5%;
    padding: 1% 2%;
    background-color: rgb(51, 50, 50);
    border: 1px solid orange;
    height: 4%;
    align-items: center;
    padding: 1%;
}

.sp-turns-counter {
    align-items: center;
    background-color: orange;  
    height: 40%;
    aspect-ratio: 1;
     
    
}