html, body, #root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100%;
  background-position: center;
  height: 100%; 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

h2 {
  color: white;
}


p {
  color: white;
}

button {
  background-color: rgb(78, 77, 77);
  padding: 1% 2%;
  font-size: large;
  border-radius: 10%;
  border: 2px solid orange;
  margin: 5px;
}

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}
