.sp-turns {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5%;
    padding: 1% 2%;
    background-color: rgb(51, 50, 50);
    height: 2%;
    padding: 2%;
    border: 1px solid orange;
}


.sp-turns h2 {
    font-size: x-large;
}